{% extends "base.twig" %}

{% block layout %}
  {% embed 'content_sidebar.twig' %}

    {% block content %}
      {# Three columns of text below the carousel #}
      <div class="row">

        {% for headline in testTextArray['headline'] %}
          <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
            <h2>{{ headline }}</h2>
            <p>{{ testTextArray['text'][loop.index0] }}</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div>
        {% endfor %}

      </div>

      {# START THE FEATURETTES #}
      <hr class="featurette-divider">

      {% for headline in testTextArray['headline'] %}
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">{{ headline }}</span></h2>
            <p class="lead">{{ testTextArray['text'][loop.index0] }}</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">
      {% endfor %}
      {# /END THE FEATURETTES #}

    {% endblock %}


    {% block sidebar %}
      <div class="row">
          <div class="col-lg-12">
            <img class="img" data-src="holder.js/100x100" alt="Generic placeholder image">
            <h2>by Lars Moelleken</h2>
            <p><a href="http://moelleken.org">moelleken.org</a></p>
          </div>
      </div>
    {% endblock %}

  {% endembed %}
{% endblock %}